@page "/admin-page"
@attribute [Authorize(Roles = "Admin")]

<h3>Página de Administración</h3>

<p>Bienvenido, Administrador. Esta página está protegida y solo accesible para usuarios con el rol de Admin.</p>
