@page "/register"

<div class="fullscreen-div">
    <div class="container">
        <div class="logo text-center">
            <img src="/img/logo.png" alt="Logo" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 login-container">
            <div class="mb-3">
                <input @bind="nombre" id="nombre" class="form-control" placeholder="Nombre" /> <!-- Nuevo campo para el nombre -->
            </div>
            <div class="mb-3">
                <input @bind="correo" id="correo" class="form-control" placeholder="Email" />
            </div>
            <div class="mb-3">
                <input @bind="contraseña" id="contraseña" type="password" class="form-control" placeholder="Contraseña" />
            </div>
            <div class="mb-3">
                <input @bind="confirmarContraseña" id="confirmarContraseña" type="password" class="form-control" placeholder="Confirmar Contraseña" />
            </div>
            <button @onclick="HandleRegister" class="btn btn-primary btn-block">Registrarse</button>
            <div class="alert-container">
                @if (registrationFailed)
                {
                    <div class="alert alert-danger text-center">Error en el registro, intenta de nuevo</div>
                }
            </div>
            <div class="text-center container-info">
                <p>¿Ya tienes cuenta?</p>
                <a href="/login" class="text-decoration-none">Inicia sesión</a>
            </div>
        </div>
    </div>
</div>
