@inherits LayoutComponentBase

@inject NavigationManager Navigation

<PageTitle>TiendaBlazor</PageTitle>

<div class="page">
    @if (!IsSpecialPage)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsSpecialPage => Navigation.Uri.EndsWith("/") ||
                                  Navigation.Uri.Contains("/login") ||
                                  Navigation.Uri.Contains("/register");
}