@inherits LayoutComponentBase

@inject NavigationManager Navigation

<PageTitle>TiendaBlazor</PageTitle>

<div class="page">
    @if (!IsSpecialPage)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsSpecialPage => IsPage("/login") || IsPage("/register");

    private bool IsPage(string page)
    {
        var currentUri = Navigation.Uri.ToLowerInvariant();
        return currentUri.EndsWith(page, StringComparison.OrdinalIgnoreCase);
    }
}
