@page "/cliente-page"
@attribute [Authorize(Roles = "Cliente")]

<h3>Página del Cliente</h3>

<p>Bienvenido, Cliente. Esta página está protegida y solo accesible para usuarios con el rol de Cliente.</p>
