.container-style {
    max-width: 100%;
    color: white;
    border-radius: 1rem;
    background-color: #353C59;
    padding: 1rem;
}



.btn-primary {
    width: 100%;
    max-width: 24.5rem;
    background-color: #353C59;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 0.5rem;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

    .btn-primary:hover {
        background-color: #272d45;
    }

    .btn-primary:active {
        box-shadow: none;
    }

    .btn-primary:focus {
        box-shadow: none;
    }

.custom-file-upload {
    display: inline-block;
    width: 100%;
    max-width: 390px;
    margin: 0;
}

.upload-area {
    border-radius: 0.5rem;
    background-color: #E0E3F0;
    border: 2px dashed #C0C3D0;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

    .upload-area svg {
        fill: #686B75;
        margin-bottom: 10px;
    }

    .upload-area p {
        font-size: 16px;
        color: #686B75;
    }

    .upload-area:hover {
        background-color: #DCE1EE;
        box-shadow: 0 1px 3px rgba(51, 57, 82, 0.12), 0 1px 2px rgba(51, 57, 82, 0.24);
    }
