@page "/admin-agregar"
@attribute [Authorize(Policy = "AdminPolicy")]
@inject ProductoService ProductoService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container text-center container-style mb-3">
    <h2>Agregar Producto</h2>
</div>

<EditForm Model="nuevoProducto" OnValidSubmit="AgregarProducto">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <InputText id="nombre" class="form-control form-style" @bind-Value="nuevoProducto.Nombre" placeholder="Nombre" />
    </div>
    <div class="mb-3">
        <InputTextArea id="descripcion" class="form-control form-style" @bind-Value="nuevoProducto.Descripcion" placeholder="Descripcion" />
    </div>
    <div class="mb-3">
        <InputText id="precio" class="form-control form-style" @bind-Value="precioInput" placeholder="Precio" @oninput="ValidarPrecio" />
    </div>

    <div class="mb-3">
        <InputText id="stock" class="form-control form-style" @bind-Value="stockInput" placeholder="Stock" @oninput="ValidarStock" />
    </div>

    <div class="mb-3">
        <InputSelect id="categoria" class="form-control form-style" @bind-Value="nuevoProducto.Categoria">
            <option value="">Seleccione una categoría</option>
            <option value="Electronicos">Electrónicos</option>
            <option value="Ropa">Ropa</option>
            <option value="Calzado">Calzado</option>
            <option value="LineaBlanca">Línea Blanca</option>
        </InputSelect>
    </div>
    <div class="mb-3">
        <label for="imagen" class="custom-file-upload">
            <div class="upload-area" id="upload-area">
                <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 4H20V20H4V4ZM3 2C2.44772 2 2 2.44772 2 3V21C2 21.5523 2.44772 22 3 22H21C21.5523 22 22 21.5523 22 21V3C22 2.44772 21.5523 2 21 2H3ZM12 7C12.5523 7 13 7.44772 13 8V13.5858L14.2929 12.2929C14.6834 11.9024 15.3166 11.9024 15.7071 12.2929C16.0976 12.6834 16.0976 13.3166 15.7071 13.7071L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L8.29289 13.7071C7.90237 13.3166 7.90237 12.6834 8.29289 12.2929C8.68342 11.9024 9.31658 11.9024 9.70711 12.2929L11 13.5858V8C11 7.44772 11.4477 7 12 7Z" fill="#686B75" />
                </svg>
                <p id="file-name">@fileName</p>
            </div>
        </label>
        <InputFile id="imagen" OnChange="OnInputFileChange" class="form-control" style="display: none;" />
    </div>

    <button type="submit" class="btn btn-primary">Agregar Producto</button>
</EditForm>
