.container-style {
    max-width: 100%;
    color: white;
    border-radius: 1rem;
    background-color: #353C59;
    padding: 1rem;
}


.table-striped tbody tr:nth-child(odd) {
    background-color: #E0E3F0;
}

.table-striped tbody tr:nth-child(even) {
    background-color: #F8F8FB;
}

.table thead {
    background-color: #353C59;
    color: white;
}

th, td {
    text-align: center;
    vertical-align: middle;
}

td {
    font-weight: bold;
}

#Precio-style {
    color: #D15253;

}

    th {
        padding: 10px;
    }

td {
    padding: 15px;
}

img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.actions-cell {
    text-align: center;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.btn-style {
    background-color: #353C59;
    border-radius: 0.5rem;
    padding: 8px 12px;
    color: white;
    font-size: 14px;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
}

    .btn-style:hover {
        background-color: #272d45;
    }

    .btn-style:active {
        transform: scale(0.95);
    }

    .btn-style:focus {
        outline: none;
        box-shadow: none;
    }

